**/__pycache__/
**/.ipynb_checkpoints/

data/*/*
!data/crafted/*
virtualenvs/*
*.pyc
*.xpi
notebooks/*
lib/*
models/*
hyperparameter_optimization/*
!hyperparameter_optimization/xvld
hyperparameter_optimization/xvld/*
!hyperparameter_optimization/xvld/.gitkeep
doc

!**/.gitkeep
