**/__pycache__/
**/.ipynb_checkpoints/

data/*/*
!data/crafted/*
virtualenvs/*
*.pyc
*.xpi
notebooks/*
lib/*
bin/*
models/*
hyperparameter_optimization/*
!hyperparameter_optimization/xvld
hyperparameter_optimization/xvld/*
!hyperparameter_optimization/xvld/.gitkeep
docs/build/*
!docs/build/html
docs/build/html/*
!docs/build/html/.gitkeep

!**/.gitkeep
